# blog_post
{% extends "base.html" %}

{% block content %}
    <div class="container mt-4">
        <form class="form-group" method="post">
            {% form.hidden_tag() %}
            <div class="form-group">
                {{ form.title.label(class="form-control-label") }}
                {{ form.title(class="form-control form-control-lg") }}
            </div>
            <div class="form-group">
                {{ form.text.label(class="form-control-label") }}
                {{ form.text(class="form-control form-control-lg", rows="10") }}
            </div>
            <div class="form-group">
                <input type="submit" class="btn btn-outline-info" value="Update Post">
            </div>
        </form>
    </div>
{% endblock %}  